
.logo {
    height: 70px;
    width: auto;
}

.custom-navlink {
    color: var(--text-color);
    &:hover {
        text-shadow: 0 0 5px var(--secondary-color),
        0 0 15px var(--secondary-color),
        0 0 20px var(--secondary-color),
        0 0 40px var(--secondary-color),
        0 0 60px var(--secondary-color),
        0 0 10px var(--secondary-color),
        0 0 98px var(--secondary-color);
    };
}

.dropdownToggle i {
    font-size: x-large;
    font-weight: bold;

    &:hover {
        text-shadow: 0 0 5px #fff,
        0 0 15px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 10px #fff,
        0 0 98px #fff;
    }
}

.dropdownToggle::after {
    content: none;
}